$print-colors:map-merge-multiple(
    $primarys,
    $secondarys,
    $grays,
);
// 圓角變數：和間距一樣的尺寸
$round-values:map-merge(
  $spacers,(
    null: var(--#{$prefix}border-radius),
    circle: 50%,
    pill: var(--#{$prefix}border-radius-pill)
  )
);
$wh-value: (
  25: 25%,
  50: 50%,
  75: 75%,
  80: 80%,
  100: 100%,
  auto: auto
);
$vw-value: (
  25: 25vw,
  50: 50vw,
  75: 75vw,
  80: 80vw,
  100: 100vw,
  auto: auto
);
$vh-value: (
  25: 25vh,
  50: 50vh,
  75: 75vh,
  80: 80vh,
  100: 100vh,
  auto: auto
);
$utilities: map-merge(
  $utilities,
  (
    //為position 啟用響應式斷點
    "position": map-merge(
        map-get($utilities,"position"),
        ( responsive: true )
    ),
    "top": map-merge(
      map-get($utilities,"top"),
      ( responsive: true)
    ),
    "bottom": map-merge(
      map-get($utilities,"bottom"),
      ( responsive: true)
    ),
    "start": map-merge(
      map-get($utilities,"start"),
      ( responsive: true)
    ),
    "end": map-merge(
      map-get($utilities,"end"),
      ( responsive: true)
    ),
    "translate-middle": map-merge(
      map-get($utilities,"translate-middle"),
      ( responsive: true)
    ),
    "object-position": (
      property: object-position,
      class: object-position,
      responsive: true, // 開啟斷點支援
      values: (
        center: center,
        top: top,
        bottom: bottom,
        start: left,
        end: right,
        "top-start": top left,
        "top-end": top right,
        "bottom-start": bottom left,
        "bottom-end": bottom right,
      )
    ),

    // 為width height 系列（如.w-100 .vh-100）新增尺寸＆啟用響應式斷點
    "width": (
      responsive: true, // 開啟斷點支援
      property: width,
      class: w,
      values: $wh-value
    ),
    "max-width": (
      responsive: true, // 開啟斷點支援
      property: max-width,
      class: mw,
      values: $wh-value
    ),
    "viewport-width": (
      responsive: true, // 開啟斷點支援
      property: width,
      class: vw,
      values: $vw-value
    ),
    "min-viewport-width": (
      responsive: true, // 開啟斷點支援
      property: min-width,
      class: min-vw,
      values: $vw-value
    ),
    "height": (
      responsive: true, // 開啟斷點支援
      property: height,
      class: h,
      values: $wh-value
    ),
    "max-height": (
      responsive: true, // 開啟斷點支援
      property: max-height,
      class: mh,
      values: $wh-value
    ),
    "viewport-height": (
      responsive: true, // 開啟斷點支援
      property: height,
      class: vh,
      values: $vh-value
    ),
    "min-viewport-height": (
      responsive: true, // 開啟斷點支援
      property: min-height,
      class: min-vh,
      values: $vh-value
    ),
    


    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $print-colors
          ),
        ),
      ),
    ), 
    "background-breakpoint": map-merge(
      map-get($utilities, "background-color"),
      (responsive: true),
    ),    
   
    "color": map-merge(
      map-get($utilities, "color"),
      (
        responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $print-colors
          ),
        ),
      ),
    ),
    "color-breakpoint": map-merge(
      map-get($utilities, "color"),
      (responsive: true),
    ),
    "bg-opacity":(
      css-var: true,                   // 👈 告訴 Bootstrap 這是寫入 CSS 變數 (--bs-bg-opacity)
      css-variable-name: bg-opacity,  // 變數名稱
      class: "bg-opacity",            // 👈 class 名稱必須加上雙引號
      responsive: true,               // 開啟響應式斷點
      values:(
          0:   0,
          25: .25,
          50: .5,
          75: .75,
          80: .8,
          100: 1,
      )
    ),
    //border響應式斷點
    "border-breakpoint": map-merge(
      map-get($utilities, "border"),
      (responsive: true),
    ),
    "border-color-breakpoint": map-merge(
      map-get($utilities, "border-color"),
      (responsive: true),
    ),
    //rounded圓角樣式
    
    "rounded": (
      class: rounded,
      responsive: true,
      property: border-radius,
      values: $round-values
    ),
    "rounded-top": (
      class: rounded-top,
      responsive: true,
      property: border-top-left-radius border-top-right-radius,
      values: $round-values
    ),
    "rounded-bottom": (
      class: rounded-bottom,
      responsive: true,
      property: border-bottom-right-radius border-bottom-left-radius,
      values: $round-values
    ),
    "rounded-ts": (
      class: rounded-ts,
      responsive: true,
      property: border-top-left-radius,
      values: $round-values
    ),
    "rounded-bs": (
      class: rounded-bs,
      responsive: true,
      property: border-bottom-left-radius,
      values: $round-values
    ),
    "rounded-te": (
      class: rounded-te,
      responsive: true,
      property: border-top-right-radius,
      values: $round-values
    ),
    "rounded-be": (
      class: rounded-be,
      responsive: true,
      property: border-bottom-right-radius,
      values: $round-values
    ),
    "rounded-start": (
      class: rounded-start,
      responsive: true,
      property: border-bottom-left-radius border-top-left-radius,
      values: $round-values
    ),
      "rounded-end": (
        class: rounded-end,
        responsive: true,
        property: border-top-right-radius border-bottom-right-radius,
        values: $round-values
    ),
)
);