$print-colors:map-merge-multiple(
    $primarys,
    $secondarys,
    $grays,
);
// 圓角變數：和間距一樣的尺寸
$round-values:map-merge(
  $spacers,(
    null: var(--#{$prefix}border-radius),
    circle: 50%,
    pill: var(--#{$prefix}border-radius-pill)
  )
);
$utilities: map-merge(
  $utilities,
  (
    //為position 啟用響應式斷點
    "position": map-merge(
        map-get($utilities,"position"),
        ( responsive: true )
    ),
    // 為width height 系列（如.w-100 .vh-100）啟用響應式斷點
    "width": map-merge(
            map-get($utilities,"width"),
            ( responsive: true )
        ),
        
        "max-width": map-merge(
            map-get($utilities,"max-width"),
            ( responsive: true )
        ),
        
        "viewport-width": map-merge(
            map-get($utilities,"viewport-width"),
            ( responsive: true )
        ),
        
        "min-viewport-width": map-merge(
            map-get($utilities,"min-viewport-width"),
            ( responsive: true )
        ),
        
        "height": map-merge(
            map-get($utilities,"height"),
            ( responsive: true )
        ),
        
        "max-height": map-merge(
            map-get($utilities,"max-height"),
            ( responsive: true )
        ),
        
        "viewport-height": map-merge(
            map-get($utilities,"viewport-height"),
            ( responsive: true )
        ),
        
        "min-viewport-height": map-merge(
            map-get($utilities,"min-viewport-height"),
            ( responsive: true )
        ),


    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $print-colors
          ),
        ),
      ),
    ),
    "background-breakpoint": map-merge(
      map-get($utilities, "background-color"),
      (responsive: true),
    ),    
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $print-colors
          ),
        ),
      ),
    ),
    "color-breakpoint": map-merge(
      map-get($utilities, "color"),
      (responsive: true),
    ),

    //rounded圓角樣式
    
    "rounded": (
      class: rounded,
      responsive: true,
      property: border-radius,
      values: $round-values
    ),
    "rounded-top": (
      class: rounded-top,
      responsive: true,
      property: border-top-left-radius border-top-right-radius,
      values: $round-values
    ),
    "rounded-bottom": (
      class: rounded-bottom,
      responsive: true,
      property: border-bottom-right-radius border-bottom-left-radius,
      values: $round-values
    ),
    "rounded-ts": (
      class: rounded-ts,
      responsive: true,
      property: border-top-left-radius,
      values: $round-values
    ),
    "rounded-bs": (
      class: rounded-bs,
      responsive: true,
      property: border-bottom-left-radius,
      values: $round-values
    ),
    "rounded-te": (
      class: rounded-te,
      responsive: true,
      property: border-top-right-radius,
      values: $round-values
    ),
    "rounded-be": (
      class: rounded-be,
      responsive: true,
      property: border-bottom-right-radius,
      values: $round-values
    ),
    "rounded-start": (
      class: rounded-start,
      responsive: true,
      property: border-bottom-left-radius border-top-left-radius,
      values: $round-values
    ),
      "rounded-end": (
        class: rounded-end,
        responsive: true,
        property: border-top-right-radius border-bottom-right-radius,
        values: $round-values
    ),
)
);