.bg-footer{
    background: url(/assets/images/bg_footer_m.png)
    no-repeat left top / 100% 100%;
    @include media-breakpoint-up(md){
        background-image: url(/assets/images/bg_footer.png);
        background-size: auto 100%;
    }

    & [src*="logo"]{
        max-height: 58px;
        @include media-breakpoint-up(lg){
            max-height: 100px;
        }
    }
}
footer{
    .btn:has(.bi){
        font-size: 24px;
    }
    .bi-facebook{
        font-size: 40px;
    }
}