@include media-breakpoint-down(md){
  .navbar-brand{
    img[src*="logo"]{
      max-height: 28px;
    }
  }
}
[data-bs-target="#loginbar"]{
  & .navbar-toggler-icon{
      background-image: none;
      &::before {
      font-family: "Material Symbols Outlined";
      font-size  : 24px;
      line-height: 1;
      content    : "menu"; // 對應的 Icon 名稱
    }
  }
  &[aria-expanded="true"]{
    .navbar-toggler-icon::before{
      content: "close";
    }
  }
}
// 1. 定義一個滾動時間軸 (scroll-timeline-name 和 scroll-timeline-axis)
html {
  scroll-timeline-name: --my-scroll-progress;  // 給這個時間軸一個名字
  scroll-timeline-axis: block;                 // 監聽垂直滾動（Y軸）
}
// 2. 將動畫與滾動時間軸綁定 (animation-timeline)
.navbar-bg {
  animation           : navbar-bg-animation forwards;  // 你的 @keyframes 動畫
  animation-timeline  : --my-scroll-progress;          // 將動畫綁定到先前定義的滾動時間軸
  // 3. 定義動畫的觸發範圍
  animation-range     : 0px 300px;   // 動畫從 0px 滾動到 300px 後完成
  @include media-breakpoint-up(md){
    animation         : navbar-bg-animation forwards, navbar-margin-animation 0.1s forwards;  // 你的 @keyframes 動畫
    animation-timeline: --my-scroll-progress,         --my-scroll-progress;                   // 將動畫綁定到先前定義的滾動時間軸
    animation-range   : 0px 500px,                    0 100px;                                // 動畫從 0px 滾動到 300px 後完成
    
  }                  
}
@keyframes navbar-bg-animation {
  0%   { background: transparent;}
  100% { background: #fff; }
}

@keyframes navbar-margin-animation {
  0%   { background : transparent;margin-top: 28px; }
  100% { margin-top : 0!important; }
}