.banner{
  & .bg-img{
    background: url(/assets/images/index/index-hero-Image.png)
    no-repeat right bottom / cover;
    overflow: hidden;
     @include media-breakpoint-down(md){
      background-size: auto 470px;
      padding-bottom: 315px;
      max-height: 564px;
     }
  }
  & .bg-banner-title{
     background: url(/assets/images/index/bg-banner-title.svg)
     no-repeat -144px bottom / 964px;
     @include media-breakpoint-down(md){
      background-position: -253px -500px;
      // background-size: contain;
     }
    //  background-size: calc(964/1840*100%);
    //  background-position: calc(-144/964*100%) bottom;
    & .banner-title{
      max-width: 480px;
    }
  }
  .dropdown-menu{
    max-height: 188px;
  }
}
