.banner{
  & .bg-img{
    background: url(/assets/images/index/index-hero-Image.png)
    no-repeat right bottom / cover;
    overflow: hidden;
     @include media-breakpoint-down(md){
      background-size: auto 470px;
      padding-bottom: 315px;
      max-height: 564px;
     }
  }
  & .bg-banner-title{
     background: url(/assets/images/index/bg-banner-title.svg)
     no-repeat -144px bottom / 964px;
     @include media-breakpoint-down(md){
      background-position: -253px -500px;
      // background-size: contain;
     }
    //  background-size: calc(964/1840*100%);
    //  background-position: calc(-144/964*100%) bottom;
    & .banner-title{
      max-width: 480px;
    }
  }
  .dropdown-menu{
    max-height: 188px;
  }
}
/*  區塊1*/
.bg-stone{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--bs-primary);
    background: url(/assets/images/display2.png) no-repeat center / contain ,transparent;
    transform: scale(128%);
    
  }
}
.col:nth-child(n+1){
  & .bg-stone::before{
    background-image: url(/assets/images/display3.png);
  }
}
.col:nth-child(2n+1){
  & .bg-stone::before{
    background-image: url(/assets/images/display4.png);
    transform: scale(112%);
  }
}
.col:nth-child(3n+1){
  & .bg-stone::before{
    background-image: url(/assets/images/display5.png);
    transform: scale(116%);
  }
}
/* END 區塊1*/

/*     區塊 2*/
.bg-img2{
  background:
    linear-gradient(#232E1A33,#232E1AB2),
    url(/assets/images/index-img_house.png)no-repeat center / cover;
}
/* END 區塊 2*/

/*     區塊 3*/

/* END 區塊 3*/

/*     區塊 4*/
@include media-breakpoint-up(lg){
.bg-img4{
  position: relative;
  &::before{
    position: absolute;
    content:"";
    width: 50%;
    height: calc(100% + 110px);
    top: 40px;
    right: 0;
    background: url(/assets/images/index/index-part4.png)no-repeat;
    background-size: auto 100%;
  }
  
}
}
/* END 區塊 4*/

