.banner{
  & .bg-img{
    background: url(/assets/images/index/index-hero-Image.png)
    no-repeat right bottom / cover;
    overflow: hidden;
     @include media-breakpoint-down(md){
      background-size: auto 470px;
      padding-bottom: 315px;
      max-height: 564px;
     }
  }
  & .bg-banner{
    background: url(/assets/images/index/bg-banner-title.svg)
    no-repeat center bottom/257%;
    @include media-breakpoint-up(md){
      width: 100%;
      background-size      : 964px; 
      background-position-x: -144px;
    }
  }
  //舊的寫法：
  & .bg-banner-title{
    background: url(/assets/images/index/bg-banner-title.svg)
    no-repeat -144px bottom / 964px;
    @include media-breakpoint-down(md){
      background-position: -253px -500px;
    }
    & .banner-title{
      max-width: 480px;
    }
  }
  //END 舊的寫法↑

  /*     搜尋列表*/
    .dropdown-menu {
      max-height: 188px;
    }
  
  /* END 搜尋列表*/
}

/*     搜尋列表*/
$deco-size:2.5rem;
@mixin deco-round-style{
  --deco-size:#{$deco-size};
  position: relative;
  &::before,&::after{
    position: absolute;
    content: "";
    width:  var(--deco-size);
    height: var(--deco-size);
    background: var(--bs-gray-100);
    background-repeat: no-repeat;
    background: radial-gradient(var(--deco-circle_at),transparent 70%,var(--bs-gray-100) 70%);
  }
}
@mixin make-deco-round-classes($prefix: "deco-round") {
  .#{$prefix}-bottom {
    --deco-circle_at: circle at top right;
    @include deco-round-style;
    &::before {
      bottom: 100%;
      left: 0;
    }
    &::after {
      bottom: 0;
      left: 100%;
    }
  }

  .#{$prefix}-top {
    --deco-circle_at: circle at bottom right;
    @include deco-round-style;
    &::before {
      top: 100%;
      left: 0;
    }
    &::after {
      top: 0;
      left: 100%;
    }
  }
}
@include make-deco-round-classes("deco-round");
//建立斷點
@each $breakpoint, $value in $grid-breakpoints {
  @if $value != 0 {
    @include media-breakpoint-up($breakpoint) {
      @include make-deco-round-classes("deco-round-#{$breakpoint}");
    }
  }
}
/* END 搜尋列表*/

/*  區塊1*/
.bg-index1{
  background:
  url(/assets/images/index/bg-index1.svg) no-repeat center right/ auto 50%,
  url(/assets/images/bg_stone_top.png) no-repeat bottom center / contain,
  ;
  @include media-breakpoint-up(md){
    & .bg-img-display1::before{
      top: -50px;
    }
  }
}
.bg-stone{
  position: relative;
  z-index: 1;
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--bs-primary);
    background: url(/assets/images/display2.png) no-repeat center / contain ,transparent;
    transform: scale(128%);
    
  }
}
.col:nth-child(n+1){
  & .bg-stone::before{
    background-image: url(/assets/images/display3.png);
  }
}
.col:nth-child(2n+1){
  & .bg-stone::before{
    background-image: url(/assets/images/display4.png);
    transform: scale(112%);
  }
}
.col:nth-child(3n+1){
  & .bg-stone::before{
    background-image: url(/assets/images/display5.png);
    transform: scale(116%);
  }
}
/* END 區塊1*/

/*     區塊 2*/
.bg-img2{
  background:
  linear-gradient(#232E1A33,#232E1AB2),
  url(/assets/images/index-img_house.png)no-repeat center / cover;
}
/* END 區塊 2*/

/*     區塊 3*/
.bg-index3{
background:
  url(/assets/images/bg_stone_bottom.png) no-repeat top center / contain,
  ;
  // background-color: black;
}

/* END 區塊 3*/

/*     區塊 4*/
.bg-index4{
background:
  url(/assets/images/stone.png) no-repeat center left 53px / contain;
}

@include media-breakpoint-up(lg){
.bg-img4{
  position: relative;
  &::before{
    position: absolute;
    content:"";
    width: 50%;
    height: calc(100% + 110px);
    top: 40px;
    right: 0;
    background: url(/assets/images/index/index-part4.png)no-repeat;
    background-size: auto 100%;
  }
  
}
}
/* END 區塊 4*/

